node_modules/
.env
backups/
data/*.sqlite
data/*.sqlite-*
data/uploads/**/*
!data/uploads/.gitkeep
data/previews/**/*
!data/previews/.gitkeep
data/products/**/*
!data/products/.gitkeep
.DS_Store
npm-debug.log*

